<div style="display:none;">
	<%= form_for [event, idea], :url => event_ideas_path, :html => {:id => "suggestion-form"} do |f| %>
		<h3>Adicionar uma sugestão</h3>
		
		<%= f.label :name, "Qual o presente sugerido?" %>
		<%= f.text_field :name %><br/>
		
		<%= f.label :link, "Você possui o link de uma loja onde o produto se encontra?" %>
		<%= f.text_field :link %><br/>
		
		<%= f.submit "Compartilhar sugestão" %>
	<% end %>
</div>
