<div style="display:none;">
	<div id="suggestion_form">
		<%= form_for [event, idea], :url => event_ideas_path do |f| %>
			<h2>Adicionar uma sugestão</h2>
			
			<%= f.label :name, "Qual o presente sugerido?" %>
			<%= f.text_field :name, :class => "break_input" %><br/>
		
			<%= f.label :link, "Você possui o link de uma loja onde o produto se encontra?" %>
			<%= f.text_field :link, :class => "break_input"  %><br/>
		
			<%= f.submit "Compartilhar sugestão", :id => "submit_suggestion" %>
			
			<div class="clear"></div>
		<% end %>
	</div>
</div>
