<h1>Novo evento</h1>

<%= form_for(@event) do |f| %>

<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="actions">
    Crie uma página para seus amigos colaborarem com idéias de presente para <%= f.text_field :gifted %>.
    A sua <%= f.select :event_type, [['festa de aniversário']] %> irá ocorrer em <%= f.text_field :limit_date %>.
    <%= f.submit "Criar" %>
  </div>
<% end %>
