<h1>Novo evento</h1>

<%= form_for(@event) do |f| %>

<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2>Oops! Por favor verifique:</h2>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="actions">
    Crie uma página para seus amigos colaborarem com idéias de presente para <%= f.text_field :gifted %>.
   	Em <%= f.text_field :limit_date %> irá ocorrer <%= f.select :event_type, Event::EVENT_TYPE_OPTIONS %> dele(a).
    <%= f.submit "Criar" %>
  </div>
<% end %>
