<h1>Presentear</h1>

<div>
	<p>Colabore com idéias de presente para <%= @event.event_type %> de <%= @event.gifted %>, que irá ocorrer em <%= time_ago_in_words(@event.limit_date) %>.</p>
</div>

<a id="inline" href="#suggestion-form">Enviar sugestão</a>

<%= render "suggestion_form", :event => @event, :idea => Idea.new %>	

<div id="suggestions">
	<h3>Sugestões:</h3>

	<% @event.ideas.each do |idea| %>
	<div id="<%=dom_id(idea)%>">
		Presente: <%= idea.name %><br/>
		Link: <%= idea.link %><br/>
	</div>
	<% end %>	
</div>