<%= content_for :title, "Presentear - Sugestões de presente para #{@event.event_type} de #{@event.gifted}"  %>

<div id="gift_message">
	<p>Colabore com idéias de presente para <strong><%= @event.event_type %></strong> de <strong><%= @event.gifted %></strong>, que irá ocorrer <strong><%= show_dates_distance_with_today(@event.limit_date) %></strong>.</p>
</div>

<div id="show_container">
	
	<div id="suggestions">
		<h2>Sugestões:</h2>
 
		<% if !@event.ideas.present? %>
		<p class="none_message">Não existem sugestões cadastradas.<br/>Seja o primeiro!</p>
		<% end %>
		
		<a id="add_suggestion" href="#suggestion_form">Adicione uma sugestão</a>

		<%= render "suggestion_form", :event => @event, :idea => Idea.new %>

		<% @event.ideas.each do |idea| %>
		<div id="<%=dom_id(idea)%>" class="suggestion_box">
			<%= image_tag "avatar.jpg" %>
			<p><strong>Anônimo</strong> sugeriu:<br/><%= link_to_if_present idea.link, idea.name, :target => "_blank" %></p>
			<div class="clear"></div>
		</div>
		<% end %>	
		
	</div>
	
	<div id="share">
		<h2>Compartilhe:</h2>
		<div id="social_networks">
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style ">
					<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
					<a class="addthis_button_tweet"></a>
				</div>
				<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4ecd30fd6f6d6311"></script>
				<!-- AddThis Button END -->
		</div>
		
		<p>Ou compartilhe diretamente o seguinte link com seus amigos: <br/> <a href="#">http://presente.ar/fulano-de-tal</a></p>
	</div>
	
	<div class="clear"></div>	
</div>

