<!DOCTYPE html>
<html>
<head>
  <title>Presentear</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="content">
	
	<div id="wrapper">
	
		<div id="header">
			<h1>Presentear</h1>
	
			<div id="about">
				<p>Foi convidado para uma festa e não sabe o que dar de presente?</p>
				<p>Utilize o <strong>presentear</strong> para receber ou fazer sugestões de presentes.</p>
				<p>É <strong>gratuito</strong> e não precisa de cadastro.</p> 
			</div>
		</div>  <!-- //header -->
	
	<%= yield %>
		
	</div> <!-- //wrapper -->
	
	<div id="footer-wrapper">
		<div id="footer">
			<%= link_to (image_tag "logo_caixa.png", :class => "logo_footer"), "http://www.caixadeideias.com.br", :target => "_blank" %>
		</div>
	</div>
	

</div>

</body>
</html>
