<!DOCTYPE html>
<html>
<head>
	<title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
	<meta property="og:image" content="<%= image_url("logo.png") %>" />
  <%= csrf_meta_tags %>

</head>
<body>

<div id="content">
	
	<div id="wrapper">
	
		<div id="header">
			<h1><%= link_to "Presentear.me", root_path  %></h1>
	
			<div id="about">
				<p>Foi convidado para uma festa e não sabe o que dar de presente?</p>
				<p>Utilize o <strong>presentear.me</strong> para receber ou fazer sugestões de presentes.</p>
				<p>É <strong>gratuito</strong> e não precisa de cadastro.</p> 
			</div>
		</div>  <!-- //header -->
	
	<%= yield %>
		
	</div> <!-- //wrapper -->
	
	<div id="footer-wrapper">
		<div id="footer">
			<%= link_to (image_tag "logo_caixa.png", :class => "logo_footer"), "http://www.caixadeideias.com.br", :target => "_blank" %>
		</div>
	</div>
	

</div>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27496043-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
